COMPOSE_PROJECT_NAME=currency-homework3
APP_VERSION=unbuilt
ZOOKEEPER_PORT=22181
BROKER_PORT=9292
SERVICE1_PORT=8081
SERVICE2_PORT=8082
CLIENT_PORT=8083
PROMETHEUS_PORT=9090
GRAFANA_PORT=3000
PACT_PASSWORD=pact-local
GRAFANA_PASSWORD=homework
