COMPOSE_PROJECT_NAME=currency-homework-prod
APP_VERSION=unbuilt
ZOOKEEPER_PORT=32181
BROKER_PORT=19292
SERVICE1_PORT=18081
SERVICE2_PORT=18082
CLIENT_PORT=18083
PROMETHEUS_PORT=19090
GRAFANA_PORT=13000
PACT_PASSWORD=pact-local
GRAFANA_PASSWORD=homework
